{% extends "layout.html" %}

{% block pageTitle %}
    Enter the temporary reference number    
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-xl">Section name</span>
                            <h1 class="govuk-fieldset__heading">
                                Enter the temporary reference number
                            </h1>
                        </legend>

                        <p>
                            May need to include an example of what this is or where you can find this.
                        </p>

                        <div class="govuk-form-group">

                            <input class="govuk-input govuk-input--width-20" id="trn" name="temp-reference-number"
                                type="text">
                        </div>

                    </fieldset>

                </div>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
            
        </form>
    </div>
</div>

{% endblock %}