{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <form method="post">
                    <div class="govuk-form-group">

                        <h1 class="govuk-heading-xl">Check your answers</h1>


                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Business type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  {% if data['type_of_business'] == "Partnership" %}

                                    {{data['type_of_partnership']}}
                                    {% else %}

                                    {{data['type_of_business']}}
                                    {% endif %}

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="business-entity">
                                        Change<span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>

                            {% if data['type_of_business'] == "UK company" or data['type_of_partnership'] == "Limited liability partnership" %}


                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Company number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['company_number']}}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="business-entity">
                                        Change<span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
                            {% endif %}
                            {% if data['type_of_business'] == "Sole trader" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    First name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['first_name']}}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="personal-details">
                                        Change<span class="govuk-visually-hidden"> first name</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Last name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['last_name']}}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="personal-details">
                                        Change<span class="govuk-visually-hidden"> last name</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of birth
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <!-- 5 January 1978 -->
                                    {{data['dob-day']}} {{months[dob_month-1]}} {{data['dob-year']}}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="personal-details">
                                        Change<span class="govuk-visually-hidden"> date of birth</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    National insurance number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['national-insurance-number']}}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="national-insurance-number">
                                        Change<span class="govuk-visually-hidden"> national insurance number</span>
                                    </a>
                                </dd>
                            </div>



                            {% endif %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Unique Taxpayers Reference
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {% if data['SA_UTR'] %}
                                    {{data['SA_UTR']}}
                                    {% else %}
                                    The business does not have a UTR
                                    {% endif %}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="SA-UTR">
                                        Change<span class="govuk-visually-hidden"> unique taxpayers reference
                                            number</span>
                                    </a>
                                </dd>
                            </div>

                            {% if data['type_of_partnership'] == "General partnership" and data['SA_UTR'] !== "" or data['type_of_partnership'] == "Scottish partnership" or data['type_of_partnership'] == "Limited partnership" or data['type_of_partnership'] == "Limited liability partnership" or data['type_of_partnership'] == "Scottish limited partnership" %}


                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Postcode
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['SA_postcode']}}




                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="national-insurance-number">
                                        Change<span class="govuk-visually-hidden"> postcode</span>
                                    </a>
                                </dd>
                            </div>

                            {% endif %}

                        </dl>
                        <button class="govuk-button" data-module="govuk-button">
                            Confirm and continue
                        </button>
                        <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                            back later</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
