{% extends "layout.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Register for VAT
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1.</span> Individual section
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="../transactor-details/whos-the-application-for" aria-describedby="company-information-completed">
                Personal information
              </a>
            </span>
            {% if data['transactor_section_complete'] == "Yes" %}
            <strong class="govuk-tag app-task-list__task-completed"
              id="company-information-completed">Completed</strong>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2.</span> Organisation Details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="business-entity" aria-describedby="company-information-completed">
                Business information
              </a>
            </span>
            {% if data['known-facts-completed'] == "Yes" %}
            <strong class="govuk-tag app-task-list__task-completed"
              id="company-information-completed">Completed</strong>
            {% endif %}
          </li>
        </ul>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
