{% extends "layout.html" %}

{% block pageTitle %}
I confirm this is who I want to register for VAT
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-xl">Organisation details</span>
                            <h1 class="govuk-fieldset__heading">
                                I confirm this is who I want to register for VAT
                            </h1>
                        </legend>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    First name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['first_name']}}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change<span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Last name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['last_name']}}
                                    
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change<span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    National insurance number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{data['national-insurance-number']}}
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change<span class="govuk-visually-hidden"> date of birth</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Accept and continue
            </button>
            <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                back later</a>
        </form>
    </div>
</div>

{% endblock %}