{% extends "layout.html" %}

{% block pageTitle %}
You cannot continue
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                          <span class="govuk-caption-xl">Organisation details</span>
                            <h1 class="govuk-fieldset__heading">
                                What is John’s Temporary Reference Number?
                            </h1>
                        </legend>

                        <p>
                            A Temporary Reference Number (TRN) is sometimes used instead of a National Insurance number.

                            <p>It is 2 numbers, 1 letter and 5 numbers, for example ‘00Z12345’.</p>
                        </p>
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-input--width-20" id="TRN" name="TRN" type="text">
                        </div>
                        <p></p>
                        <p>
                            <a href="errors/cannot-continue"> {{data['first-name']}} does not have a temporary reference number</a>
                        </p>
                        <button class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>

                        <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                            back later</a>
                    </fieldset>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}
