{% extends "layout.html" %}

{% block pageTitle %}
What is your name?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" autocomplete="off">
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">Applicant details</span>
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What was {{data['first_name']}}'s previous name?
                        </h1>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="first-name">
                            First name
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="first-name" name="previous_first_name"
                            type="text" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="last-name">
                            Last name
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="last-name" name="previous_last_name"
                            type="text" spellcheck="false">
                    </div>
            </div>
            </fieldset>
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
            <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                back later</a>
        </form>
    </div>
</div>

{% endblock %}