{% extends "layout.html" %}

{% block pageTitle %}
Will the business be doing any of the following?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Will the business be dealing with land, property or racehorses?
                        </h1>
                    </legend>


                    <p>Tell us if the business will:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>buy, sell or rent out land or property as a business activity (not just to have its own
                            premises)</li>
                        <li>own one or more racehorses</li>
                    </ul>



                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="own-racehorses-buy-sell-propety" name="property_racehorses"
                                type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="own-racehorses-buy-sell-propety">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="own-racehorses-buy-sell-propety-2" name="property_racehorses"
                                type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="own-racehorses-buy-sell-propety-2">
                                No
                            </label>
                        </div>
                    </div>

                    <br>

                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock %}