{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <form method="post">
                    <div class="govuk-form-group">

                        <h1 class="govuk-heading-xl">Check your answers</h1>


                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Partner name
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="business-entity">
                                        Change<span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    13 Romford Road
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="SA-UTR">
                                        Change<span class="govuk-visually-hidden"> unique taxpayers reference
                                            number</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Postcode
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    E16 1PP
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="SA-UTR">
                                        Change<span class="govuk-visually-hidden"> unique taxpayers reference
                                            number</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    0200 000 000
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="SA-UTR">
                                        Change<span class="govuk-visually-hidden"> unique taxpayers reference
                                            number</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Mobile number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    07000 000 000
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="SA-UTR">
                                        Change<span class="govuk-visually-hidden"> unique taxpayers reference
                                            number</span>
                                    </a>
                                </dd>
                            </div>



                        </dl>
                        <button class="govuk-button" data-module="govuk-button">
                            Confirm and continue
                        </button>
                        <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                            back later</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
