{% extends "layout.html" %}

{% block pageTitle %}
How should we contact the business about VAT?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-xl">Company details</span>
                            <h1 class="govuk-fieldset__heading">
                                How should we contact the business about VAT?
                            </h1>
                        </legend>
                        <p>
                            We can send you an email when you have a new message about VAT.
                        </p>
                        <p>
                            We may still need to send you letters if this is the only service available or if the law
                            requires us to do so.
                        </p>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-preference" name="contact_preference"
                                    type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="contact-preference">
                                    Send emails
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-preference-2" name="contact_preference"
                                    type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="contact-preference-2">
                                    Send letters
                                </label>
                            </div>
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Save and continue
            </button>

            <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                back later</a>
        </form>
    </div>
</div>

{% endblock %}