{% extends "layout.html" %}

{% block pageTitle %}
VAT registration prototype versions
{% endblock %}

{% block content %}
<script>
    function goBack() {
        window.history.back();
    }
</script>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Your application has been saved
                    </h1>
                    <div class="govuk-panel__body">
                        Your information will be held until <br>[ Insert date here ]
                    </div>
                </div>

                   <p>
                    You will need to sign back in to view and submit your application. We will not submit your
                    application until all of the registration has been completed.
                </p>

                <p>
                    You can now leave this page, <a href='#' onclick="goBack()">or go back to your return</a>
                </p>

            </div>
        </div>
    </main>
</div>

{% endblock %}