{% extends "layout.html" %}

{% block pageTitle %}
Email address verified
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">Individual section</span>
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Email address confirmed
                        </h1>
                    </legend>
                </fieldset>
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and
                    come
                    back later</a>
        </form>
    </div>
</div>

{% endblock %}