{% extends "layout.html" %}

{% block pageTitle %}
Enter code to confirm your email address
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Enter the code to confirm your email address
                        </h1>
                    </legend>
                    <p>
                        We have sent a code to: <span class="govuk-!-font-weight-bold">joe.bloggs@example.com.</span>
                    </p>
                    <div class="govuk-inset-text">
                        If you use a browser to access your email, you may need to open a new tab to see the
                        code.
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="telephone-number">
                            Confirmation code
                        </label>
                        <p class="govuk-hint">For example, DNCLRK</p>
                        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text">
                    </div>
            </div>
            </fieldset>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I have not received the email
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>The email may take a few minutes to arrive. Its subject line is: Confirm your email address to register for VAT.</p>
                    <p>Check your spam folder. If it is not there, you can <a href="#">request a new
                            code</a> or <a href="#">provide another email address</a>.</p>
                </div>

            </details>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
