{% extends "layout.html" %}

{% block pageTitle %}
Does the business sell mainly zero-rated goods or services?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                What will the value of the business’s zero-rated taxable goods be over the next 12
                                months?
                            </h1>
                        </legend>

                        <p>Enter a value for all of the taxable goods which are zero-rated. For example £12,000.</p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What are zero-rated taxable goods?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p>Zero-rated are goods which are still taxable as VAT but you do not charge your
                                    customers any VAT.
                                    You must still record these sales in your VAT software and report them to HMRC when
                                    you do your VAT Return.</p>

                                <p><a href="https://www.gov.uk/guidance/rates-of-vat-on-different-goods-and-services"
                                        target="_blank">Find out about VAT rates on different goods and services (opens
                                        in new tab)</a>.
                                </p>
                            </div>
                        </details>

                        <div class="hmrc-currency-input__wrapper">
                            <span class="hmrc-currency-input__unit" aria-hidden="true">£</span>
                            <input class="govuk-input govuk-input--width-10" id="currency" name="total-sales"
                                type="text" aria-describedby="currency-hint" autocomplete="off" inputmode="decimal" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Continue
            </button>
        </form>

        {% endblock %}