{% extends "layout.html" %}

{% block pageTitle %}
You must apply in writing
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            You must apply in writing
                        </h1>
                    </legend>

                    <p>
                        Please use form VAT1 to apply for an exemption from VAT registration.
                    </p>

                    <a href="https://www.gov.uk/government/publications/vat-application-for-registration-vat1"
                        class="govuk-button">Use form VAT1</a>
                </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock %}