{% extends "layout.html" %}

{% block pageTitle %}
Do you want to register your own business for VAT?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" autocomplete="off">
            <div class="govuk-form-group">
                <span class="govuk-caption-xl">Individual section</span>
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you want to register your own business for VAT?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="on-behalf" name="on-behalf" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="on-behalf">
                                Yes, I want to register my own business
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="on-behalf-2" name="on-behalf" type="radio"
                                value="No">
                            <label class="govuk-label govuk-radios__label" for="on-behalf-2">
                                No, I want to register someone else's business
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
            <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                back later</a>
        </form>
    </div>
</div>

{% endblock %}