{% extends "layout.html" %}

{% block pageTitle %}
What is your role with the business?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-xl">About you</span>
                            <h1 class="govuk-fieldset__heading">
                                What is your role with the business?
                            </h1>
                        </legend>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live" name="role" type="radio"
                                    value="Owner or Proprietor of the business">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                    Owner or Proprietor of the business
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-2" name="role" type="radio" value="Partner">
                                <label class="govuk-label govuk-radios__label" for="role-2">
                                    Partner
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-3" name="role" type="radio"
                                    value="Director">
                                <label class="govuk-label govuk-radios__label" for="role-3">
                                    Director
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-4" name="role" type="radio"
                                    value="Company secretary">
                                <label class="govuk-label govuk-radios__label" for="role-4">
                                    Company secretary
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-5" name="role" type="radio"
                                    value="Board member">
                                <label class="govuk-label govuk-radios__label" for="role-5">
                                    Board member
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-6" name="role" type="radio" value="Trustee">
                                <label class="govuk-label govuk-radios__label" for="role-6">
                                    Trustee
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-7" name="role" type="radio"
                                    value="Financial controller">
                                <label class="govuk-label govuk-radios__label" for="role-7">
                                    Financial controller
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="role-8" name="role" type="radio" value="Other">
                                <label class="govuk-label govuk-radios__label" for="role-8">
                                    Other
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Save and continue
            </button>

            <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                back later</a>
        </form>
    </div>
</div>

{% endblock %}