{% extends "layout.html" %}

{% block pageTitle %}
Has the business acquired goods worth more than £85,000 from another EU company?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Has the business acquired goods worth more than £85,000 from another EU company?
                        </h1>
                    </legend>

                    <p>Acquisitions are goods bought from other EU countries. Goods bought from countries outside the EU
                        are called imports.</p>

                    <p>You will need to register for VAT if you have acquired goods worth more than
                        £85,000 from other EU member states.</p>

                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="acquired" name="acquired" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="acquired">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="acquired-2" name="acquired" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="acquired-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}