{% extends "layout.html" %}

{% block pageTitle %}
You can register for VAT online
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            You can register for VAT online
                        </h1>
                    </legend>

                    <p>Based on your answers, you can register for VAT using the online service.</p>

                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue to VAT registration
            </button>
        </form>
    </div>
</div>

{% endblock %}