{% extends "layout.html" %}

{% block pageTitle %}
We cannot confirm the business
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                We cannot confirm the business
                            </h1>
                        </legend>

                        <p>
                            The information you've provided does not match the details we have about your business.
                        </p>
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Try again 
            </button>
        </form>
    </div>
</div>

{% endblock %}