{% extends "layout.html" %}

{% block pageTitle %}
Will the business spend more than £250 over the next 3 months on ‘relevant goods’?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-xl">Company details</span>
                            <h1 class="govuk-fieldset__heading">
                                Check your answers before sending your application
                            </h1>
                        </legend>
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            Elgibility
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                                    aria-labelledby="accordion-default-heading-1">
                                    <p class='govuk-body'>This is the content for Writing well for the web.</p>
                                </div>
                            </div>
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                            Individual details
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                                    aria-labelledby="accordion-default-heading-2">
                                    <p class='govuk-body'>This is the content for Writing well for specialists.</p>
                                </div>
                            </div>
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                            Organsation details
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                                    aria-labelledby="accordion-default-heading-3">
                                    <p class='govuk-body'>This is the content for Know your audience.</p>
                                </div>
                            </div>
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                            Applicant information
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                                    aria-labelledby="accordion-default-heading-4">
                                    <p class='govuk-body'>This is the content for How people read.</p>
                                </div>
                            </div>
                            <div class="govuk-accordion__section ">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                            Business information
                                        </span>
                                    </h2>
                                </div>
                                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                                    aria-labelledby="accordion-default-heading-4">
                                    <p class='govuk-body'>This is the content for How people read.</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Save and continue
            </button>

            <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                back later</a>
        </form>
    </div>
</div>

{% endblock %}