{% extends "layout.html" %}

{% block pageTitle %}
Are you involved in any other businesses?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-xl">About the business</span>
                            <h1 class="govuk-fieldset__heading">
                                {% if data['on-behalf'] == "No, I want to register someone else's business" %}
                                Is {% if data['first_name'] !== "" %} {{data['first_name']}} {% else %} Joe {% endif %}
                                involved in any other businesses?
                                {% else %}
                                Are you involved in any other businesses?
                                {% endif %}
                            </h1>
                        </legend>
                        <p>
                            {% if data['on-behalf'] == "No, I want to register someone else's business" %}
                            Answer yes if {% if data['first_name'] !== "" %} {{data['first_name']}} {% else %} Joe
                            {% endif %}, or any of the partners or directors in the business, is currently
                            involved, or in the last 2 years have been involved, in any other business in the UK or Isle
                            of Man either as a sole trader, partner or director.
                            {% else %}
                            Answer yes if you, or any of the partners or directors in the business, is currently
                            involved, or in the last 2 years have been involved, in any other business in the UK or Isle
                            of Man either as a sole trader, partner or director.
                            {% endif %}
                        </p>
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="business_-nvolvements"
                                    name="business_involvements" type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="business-involvements">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="business-involvements"
                                    name="business_involvements" type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="business-involvements">
                                    No
                                </label>
                            </div>
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                Save and continue
            </button>

            <a href="../save-and-return/progress-saved.html" class="govuk-button govuk-button--secondary">Save and come
                back later</a>
        </form>
    </div>
</div>

{% endblock %}