{% extends "layout.html" %}

{% block pageTitle %}
Is SWALES LTD applying for the Agricultural Flat Rate Scheme?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Is SWALES LTD applying for the Agricultural Flat Rate Scheme?
                        </h1>
                    </legend>

                    <p>The scheme is a different type of VAT registration for farmers.</p>

                    <p>
                        Find out more about the <a
                            href="https://www.gov.uk/government/publications/vat-notice-70046-agricultural-flat-rate-scheme/vat-notice-70046-agricultural-flat-rate-scheme"
                            target="_blank">Agricultural Flat Rate Scheme (opens in a new window or tab)</a>.
                    </p>

                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item" data-target="date-fields">
                            <input class="govuk-radios__input" id="threshold-yes" name="agricultural_frs" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="threshold-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="thresold-no" name="agricultural_frs" type="radio"
                                value="No">
                            <label class="govuk-label govuk-radios__label" for="thresold-no">
                                No
                            </label>
                        </div>
                    </div>

                    <br>

                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock %}