{% extends "layout.html" %}

{% block pageTitle %}
Does the business have a fixed establishment in the UK?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Does the business have a fixed establishment in the UK?
                        </h1>
                    </legend>

                    <p>A UK establishment exists if either the:</p>
                    <p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>place where essential management decisions are made and the business’s central
                                administration is carried out is in the UK</li>
                            <li>business has a permanent physical presence with the human and technical resources to
                                make or receive taxable supplies in the UK</li>
                        </ul>
                    </p>

                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fixed-establishment" name="fixed-establishment"
                                type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="fixed-establishment">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fixed-establishment-2" name="fixed-establishment"
                                type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="fixed-establishment-2">
                                No
                            </label>
                        </div>
                    </div>

                    <br>

                    <button class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </fieldset>
            </div>
        </form>
    </div>
</div>

{% endblock %}